reference_genome/Drosophila_melanogaster_wMel_ASM1658442v1/star/SA
reference_genome/Drosophila_melanogaster_wMel_ASM1658442v1/star/Genome
reference_genome/Drosophila_melanogaster_wMel_ASM1658442v1/fasta/genome.fa
reference_genome/Drosophila_melanogaster_wMel_ASM1658442v1/star/SAindex
